<div id="<%= dom_id event %>">
  <p>
    <strong>Event:</strong>
    <%= event.Event %>
  </p>

  <p>
    <strong>Date:</strong>
    <%= event.Date %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= event.Description %>
  </p>

</div>
